# Obce

In [1]:
import pandas as pd
obce = pd.read_csv('obce_2018.csv')
obce.head()

,obec,kraj,odberatelu,mist,lokalit,vykon,teplo_cena,teplo_mnozstvi,uhli_cena,uhli_mnozstvi,plyn_cena,plyn_mnozstvi,biomasa_cena,biomasa_mnozstvi,olej_cena,olej_mnozstvi,ostatni_cena,ostatni_mnozstvi
0,Abertamy,K,2,1,1,0.810,570.270000,1764.0,NaN,0.0,570.270000,1764.0000,NaN,0.000,NaN,0.0000,NaN,0.0
1,Adamov,B,41,32,4,11.753,400.721314,51352.0,NaN,0.0,400.721314,51352.0000,NaN,0.000,NaN,0.0000,NaN,0.0
2,Andělská Hora,T,1,1,1,0.192,558.900000,917.0,NaN,0.0,558.900000,917.0000,NaN,0.000,NaN,0.0000,NaN,0.0
3,Arnoltice,M,3,2,1,0.180,402.550000,1062.0,402.55,1062.0,NaN,0.0000,NaN,0.000,NaN,0.0000,NaN,0.0
4,Aš,K,61,84,2,16.069,565.484642,48500.0,NaN,0.0,565.698046,47812.0816,566.416686,329.028,536.2,358.8904,NaN,0.0

In [5]:
(obce.biomasa_mnozstvi > 0).mean()

0.2871927554980595

In [6]:
(obce.biomasa_mnozstvi > 0).sum()

222